# --- DATABASE CONFIGURATION ---
DB_USER=postgres
DB_PASSWORD=1234
DB_HOST=localhost
DB_PORT=5432
DB_NAME=finance_analyzer_db

# --- RABBITMQ CONFIGURATION ---
RABBITMQ_URL=amqp://guest:guest@localhost/
RABBITMQ_EXCHANGE=jobs

# --- SECURITY / JWT CONFIGURATION ---
JWT_SECRET_KEY=change-me
JWT_ALGORITHM=HS256

# --- AWS S3 CONFIGURATION ---
# Якщо додаток працює в AWS з IAM Role (EKS/ECS/EC2), ключі можна залишити порожніми.
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SESSION_TOKEN=

S3_BUCKET=results
S3_REGION=eu-central-1
S3_KEY_PREFIX=results
